{% extends "layout.html" %}

{% block content %}
<h1 class="ui header ">Stonks</h1>
<form method="GET">
    <select name="filter">
        <option value="">All Stocks</option>
        <option value="new_intraday_high">New Intraday Highs</option>
        <option value="new_intraday_lows">New Intraday Lows</option>
        <option value="new_closing_highs">New Closing Highs</option>
        <option value="new_closing_lows">New Closing Lows</option>
    </select>
    <input type="submit" />
    <p> displaying {{ stocks|length }} stocks.</p>
</form>
<table class="ui selectable inverted table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{ stock.symbol }}</td>
            <td><a href="/stock/{{ stock.symbol }}">{{ stock.name }} </a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}