<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Scott's Stocks</title>
    <meta name="description" content="Stock Tracker by Scott">
    <meta name="author" content="Scott">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->

</head>

<body>
    <div class="ui container">
        <h1 class="ui header ">Stonks</h1>
        <table class="ui selectable inverted table">
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for id, symbol, name in stocks %}
                <tr>
                    <td>{{ symbol }}</td>
                    <td><a href="/stock/{{ symbol }}">{{ name }} </a></td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <!-- <script src="js/scripts.js"></script> -->
</body>

</html>