{% extends "layout.html" %}

{% block content %}
<h1 class="ui header ">Stonks</h1>
<form method="GET">
    <select name="filter">
        <option value="">All Stocks</option>
        <option value="new_intraday_high">New Intraday High</option>
        <option value="new_closing_highs">New Closing High</option>
        <option value="new_intraday_low">New Intraday Low</option>
        <option value="new_closing_low">New Closing Low</option>
    </select>
    <input type="submit" />
</form>
<table class="ui selectable inverted table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        {% for id, symbol, name in stocks %}
        <tr>
            <td>{{ symbol }}</td>
            <td><a href="/stock/{{ symbol }}">{{ name }} </a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}