{% extends "layout.html" %}

{% block content %}

<head>
    <script>
        $('.ui.dropdown')
            .dropdown()
            ;
    </script>
</head>
<h1 class="ui header ">
    <a href="/">Stocks
        <i class="angle double right icon"></i>
    </a>
    {{stock_info.name}} ({{ stock_info.symbol }})
</h1>
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div id="tradingview_921e9"></div>
    <div class="tradingview-widget-copyright"><a
            href="https://www.tradingview.com/symbols/{{stock_info.exchange}}-{{stock_info.symbol}}/" rel="noopener"
            target="_blank"><span class="blue-text">{{stock_info.symbol}} Chart</span></a> on TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "width": "100%",
                "height": 640,
                "symbol": "{{ stock_info.exchange }}:{{ stock_info.symbol }}",
                "interval": "D",
                "timezone": "America/New_York",
                "theme": "dark",
                "style": "1",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "container_id": "tradingview_921e9"
            }
        );
    </script>
</div>
<!-- TradingView Widget END -->

<form method="POST" action="/stock/{{stock_info.symbol}}/apply_strategy/">
    <select name="strategy_id">
        {% for strat in strategies %}
        <option value="{{strat.id}}">{{strat.name|replace("_", " ")|title()}}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="stock_id" value="{{stock_info.id}}" />
    <input class="button" type="submit" value="Apply Strategy" />

</form>

<table class="ui slectable striped table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Volume</th>
        </tr>
    </thead>
    <tbody>
        {% for price in price_data %}
        <tr>
            <td>{{price.date}}</td>
            <td>{{price.open}}</td>
            <td>{{price.high}}</td>
            <td>{{price.low}}</td>
            <td>{{price.close}}</td>
            <td>{{price.volume}}</td>

        </tr>
        {% endfor %}
    </tbody>


</table>


<script>
    $('select.dropdown')
        .dropdown()
        ;
</script>



{% endblock %}